$blue: #66AFCA;

$grey: #F8F8F8;

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@mixin flexbox-center {
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: normal;
  src: url(../files/amaranth.otf);
}

@font-face {
  font-family: main-text;
  src: url(../files/madelyn.ttf);
}

@mixin hr {
  height: 1px;
  width: 5em;
  background-color: #000;
}

@mixin h1 {
  background-color: $blue;
  margin: 0;
  text-align: center;
  padding: 1em 0 1em 0;
}

/*          end of the mixins and variables         */


@media (min-width: 320px) {
  body {
    position: relative;
    font-family: normal !important;
  }

  #navbar {
    background-color: $blue;
    &:hover {
      background-color: $blue;
    }
    .icon-bar {
      background-color: white;
    }
  }
  .navbar-nav {
    margin-bottom: 1em;
    text-align: center;
    li {
      font-size: 1.2em;
      a {
        color: black !important;
      }
    }
  }

  .main {
    background-image: url(../img/small-dog.jpg);
    background-position: center;
    height: 60vh;
    width: auto;
    @include flexbox;
    flex-direction: column;
    @include flexbox-center;
    margin-top: 50px;
    h1 {
      font-size: 5em;
    }
    h1, h2 {
      color: white;
      font-family: main-text;
      text-align: center;
    }
    h2 {
      font-size: 3em;
    }
  }

  .about-us h1, .instagram h1, .services h1, .contact h1 {
    @include h1;
    font-family: main-text;
    color: #242f3e;
    font-size: 5em;
  }

  .personal-color {
    background-color: $grey;
  }

  .personal-color2 {
    background-color: $blue;
  }

  .larger-box {
    @include flexbox;
    @include flexbox-center;
    @include flex-wrap;
    padding: 2em 1em 2em 1em;
    img {
      width: 60%;
    }
    .personal {
      width: 60%;
    }
  }

  .instagram {
    background-color: $grey;
    #instafeed {
      @include flexbox;
      @include flex-wrap;
      @include flexbox-center;
      padding: .2em 0 .2em 0;
      img {
        padding: .2em;
        width: 48vw;
      }
    }
  }

  .services {
    .top-row-services {
      @include flexbox;
      @include flex-wrap;
      justify-content: space-around;
      margin-top: 2em;
      .dog-walking, .dog-sitting, .cat-sitting {
        margin-bottom: 2em;
        text-align: center;
        width: 51%;
        img {
          margin: auto;
        }
        hr {
          @include hr;
        }
      }
    }

    .bottom-row-services {
      @include flexbox;
      @include flex-wrap;
      justify-content: space-around;
      margin-bottom: 2em;
      .pet-taxi, .catercise, .pet-portraits {
        margin-bottom: 2em;
        text-align: center;
        width: 51%;
        img {
          margin: auto;
        }
        hr {
          @include hr;
        }
      }
    }
  }

  .contact {
    #map {
      height: 200px;
      width: 250px;
      margin-bottom: 2em;
    }
    .contact-form {
      background-color: $grey;
      @include flexbox;
      @include flex-wrap;
      @include flexbox-center;
      padding: 2em 0 2em 0;
      .form {
        width: 80%;
        input, textarea, .btn-success {
          border-radius: 0;
        }
        input, textarea {
          margin-bottom: .5em;
        }
        .btn-success {
          background-color: $blue;
          border-color: $blue;
          padding: 1em;
          width: 100%;
        }

      }
    }
  }
}

@media (min-width: 410px) {
  .main {
    height: 55vh;
  }
}

@media (min-width: 568px) {
  .main {
    height: 90vh;
    h1 {
      font-size: 5em;
    }
    h2 {
      font-size: 4em;
    }
  }

  .larger-box {
    justify-content: space-around;
    padding: 3em 2em 3em 2em;
    img {
      width: 30%;
    }
    .personal {
      width: 40%;
    }
  }

  .services h1, .about-us h1, .instagram h1, .contact h1 {
    font-size: 4em;
  }

  .instagram {
    #instafeed {
      padding: .5em .25em .5em .25em;
      img {
        padding: .5em;
        width: 32vw;
      }
    }
  }

  .services {
    .top-row-services {
      .dog-walking, .dog-sitting, .cat-sitting {
        width: 25%;
      }
    }
    .bottom-row-services {
      .pet-taxi, .catercise, .pet-portraits {
        width: 25%;
      }
    }
  }

  .contact {
    .contact-form {
      justify-content: space-around;
      .form {
        width: 40%;
        input {
          margin-bottom: 1em;
        }
      }
    }
  }
}

@media (min-width: 667px) {
  .main {
    background-image: url(../img/dog.jpg);
    background-size: cover;
    height: 90vh;
    h1 {
      font-size: 8em
    }
    h2 {
      font-size: 6em;
    }
  }

  .services {
    .top-row-services {
      margin-top: 4em;
      .dog-walking, .dog-sitting, .cat-sitting {
        width: 27%;
      }
    }

    .bottom-row-services {
      margin-bottom: 4em;
      .pet-taxi, .catercise, .pet-portraits {
        width: 27%;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav li.active > a {
    background-color: #242f3e !important;
    color: white !important;
  }
  .navbar-nav {
    margin-bottom: 0;
    li {
      font-size: 1.2em;
      a {
        color: #242f3e !important;
      }
    }
  }

  p {
    font-size: 1.25em;
  }

  .main {
    height: 100vh;
    h1{
      font-size: 12em;
    }
    h2 {
      font-size: 6em;
    }
  }

  .larger-box {
    padding: 5em 3em 5em 3em;
  }

  .services h1, .about-us h1, .instagram h1, .contact h1 {
    font-size: 5em;
  }
  .contact {
    #map {
      height: 300px;
      width: 350px;
    }
  }
}

@media (min-width: 822px) {
  .services h1, .about-us h1, .instagram h1, .contact h1 {
    font-size: 6em;
  }

  .larger-box {
    .personal {
      width: 30%;
    }
  }

  .instagram {
    #instafeed {
      padding: 1em 0 1em 0;
      img {
        opacity: 0.7;
        width: 24vw;
      }
      img:hover {
        opacity: 1;
      }
    }
  }
  .contact {
    .contact-form {
      padding: 5em 0 5em 0;
    }
  }
}
