@font-face {
  font-family: normal;
  src: url(../files/amaranth.otf);
}

@font-face {
  font-family: main-text;
  src: url(../files/madelyn.ttf);
}

/*          end of the mixins and variables         */
@media (min-width: 320px) {
  body {
    position: relative;
    font-family: normal !important;
  }
  .plus {
    font-size: 28px;
    color: #66AFCA;
  }
  .holiday-info p {
    width: 65%;
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
  }
  #top-logo {
    margin-top: -1.2em;
  }
  #navbar {
    background-color: #66AFCA;
  }
  #navbar:hover {
    background-color: #66AFCA;
  }
  #navbar .icon-bar {
    background-color: white;
  }
  .navbar-nav {
    margin-bottom: 1em;
    text-align: center;
  }
  .navbar-nav li {
    font-size: 1.2em;
  }
  .navbar-nav li a {
    color: black !important;
  }
  .main {
    background-image: url(../img/small-dog.jpg);
    background-position: center;
    height: 60vh;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
  }
  .main h1 {
    font-size: 5em;
  }
  .main h1, .main h2 {
    color: white;
    font-family: main-text;
    text-align: center;
  }
  .main h2 {
    font-size: 3em;
  }
  .about-us h1, .instagram h1, .services h1, .contact h1 {
    background-color: #66AFCA;
    margin: 0;
    text-align: center;
    padding: 1em 0 1em 0;
    font-family: main-text;
    color: #242f3e;
    font-size: 5em;
    padding: .5em 0 .3em 0;
  }
  #more-info {
    margin: auto;
    padding: 1em 0 1em 0;
    text-align: center;
    width: 80%;
  }
  .personal-color {
    background-color: #66AFCA;
  }
  .personal-color2 {
    background-color: #F8F8F8;
  }
  .larger-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2em 1em 2em 1em;
  }
  .larger-box img {
    width: 60%;
  }
  .larger-box .personal {
    width: 60%;
  }
  .instagram {
    background-color: #F8F8F8;
  }
  .instagram #instafeed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .2em 0 .2em 0;
  }
  .instagram #instafeed img {
    padding: .2em;
  }
  .services .top-row-services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 2em;
  }
  .services .top-row-services .dog-walking, .services .top-row-services .dog-sitting, .services .top-row-services .cat-sitting {
    margin-bottom: 2em;
    text-align: center;
    width: 51%;
  }
  .services .top-row-services .dog-walking img, .services .top-row-services .dog-sitting img, .services .top-row-services .cat-sitting img {
    margin: auto;
  }
  .services .top-row-services .dog-walking hr, .services .top-row-services .dog-sitting hr, .services .top-row-services .cat-sitting hr {
    height: 1px;
    width: 5em;
    background-color: #000;
  }
  .services .bottom-row-services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 2em;
  }
  .services .bottom-row-services .pet-taxi, .services .bottom-row-services .catercise, .services .bottom-row-services .pet-portraits {
    margin-bottom: 2em;
    text-align: center;
    width: 51%;
  }
  .services .bottom-row-services .pet-taxi img, .services .bottom-row-services .catercise img, .services .bottom-row-services .pet-portraits img {
    margin: auto;
  }
  .services .bottom-row-services .pet-taxi hr, .services .bottom-row-services .catercise hr, .services .bottom-row-services .pet-portraits hr {
    height: 1px;
    width: 5em;
    background-color: #000;
  }
  .contact #map {
    height: 200px;
    width: 250px;
    margin-bottom: 2em;
  }
  .contact .contact-form {
    background-color: #F8F8F8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2em 0 2em 0;
  }
  .contact .contact-form .form {
    width: 80%;
  }
  .contact .contact-form .form input, .contact .contact-form .form textarea, .contact .contact-form .form .btn-success {
    border-radius: 0;
  }
  .contact .contact-form .form input, .contact .contact-form .form textarea {
    margin-bottom: .5em;
  }
  .contact .contact-form .form .btn-success {
    background-color: #66AFCA;
    border-color: #66AFCA;
    padding: 1em;
    width: 100%;
  }
  .logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 8em 0 -2em 0;
  }
  .logos img {
    width: 40%;
  }
  .logos #thumbtack {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 410px) {
  .main {
    height: 55vh;
  }
}

@media (min-width: 568px) {
  .main {
    height: 90vh;
  }
  .main h1 {
    font-size: 5em;
  }
  .main h2 {
    font-size: 4em;
  }
  .larger-box {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 2em 2em 2em 2em;
  }
  .larger-box img {
    width: 35%;
  }
  .larger-box .personal {
    width: 40%;
  }
  .services h1, .about-us h1, .instagram h1, .contact h1 {
    font-size: 4em;
  }
  .instagram #instafeed {
    padding: .5em .25em .5em .25em;
  }
  .instagram #instafeed img {
    padding: .5em;
    width: 32vw;
  }
  .services .top-row-services .dog-walking, .services .top-row-services .dog-sitting, .services .top-row-services .cat-sitting {
    width: 25%;
  }
  .services .bottom-row-services .pet-taxi, .services .bottom-row-services .catercise, .services .bottom-row-services .pet-portraits {
    width: 25%;
  }
  .contact .contact-form {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .contact .contact-form .form {
    width: 40%;
  }
  .contact .contact-form .form input {
    margin-bottom: 1em;
  }
  .logos img {
    width: auto;
    margin-bottom: 1em;
  }
}

@media (min-width: 667px) {
  .main {
    background-image: url(../img/dog.jpg);
    background-size: cover;
    height: 90vh;
  }
  .main h1 {
    font-size: 8em;
  }
  .main h2 {
    font-size: 6em;
  }
  .services .top-row-services {
    margin-top: 4em;
  }
  .services .top-row-services .dog-walking, .services .top-row-services .dog-sitting, .services .top-row-services .cat-sitting {
    width: 27%;
  }
  .services .bottom-row-services {
    margin-bottom: 4em;
  }
  .services .bottom-row-services .pet-taxi, .services .bottom-row-services .catercise, .services .bottom-row-services .pet-portraits {
    width: 27%;
  }
}

@media (min-width: 768px) {
  .navbar-nav li.active > a {
    background-color: #242f3e !important;
    color: white !important;
  }
  .navbar-nav {
    margin-bottom: 0;
  }
  .navbar-nav li {
    font-size: 1.2em;
  }
  .navbar-nav li a {
    color: #242f3e !important;
  }
  p {
    font-size: 1.25em;
  }
  .main {
    height: 100vh;
  }
  .main h1 {
    font-size: 12em;
  }
  .main h2 {
    font-size: 6em;
  }
  #more-info {
    padding: 3em 0 3em 0;
    width: 40%;
  }
  .larger-box {
    padding: 3em 3em 3em 3em;
  }
  .services h1, .about-us h1, .instagram h1, .contact h1 {
    font-size: 5em;
    padding: 1em 0 1em 0;
  }
  .contact #map {
    height: 300px;
    width: 350px;
  }
}

@media (min-width: 822px) {
  .services h1, .about-us h1, .instagram h1, .contact h1 {
    font-size: 6em;
  }
  .larger-box .personal {
    width: 30%;
  }
  .instagram #instafeed {
    padding: 1em 0 1em 0;
  }
  .instagram #instafeed img {
    opacity: 0.7;
    width: 24vw;
  }
  .instagram #instafeed img:hover {
    opacity: 1;
  }
  .contact .contact-form {
    padding: 5em 0 5em 0;
  }
}

@media (min-width: 1000px) {
  .larger-box img {
    width: 20%;
  }
}
