@font-face {
  font-family: home;
  src: url(../files/edo.ttf);
}

/*          end of the mixins and variables         */
@media (min-width: 320px) {
  .navbar {
    margin-bottom: 0;
  }
  .main {
    background-image: url(../img/small-dog.jpg);
    background-position: center;
    height: 60vh;
    width: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main h1 {
    margin-bottom: 1em;
  }
  .main h1, .main h2 {
    color: white;
    font-size: 3em;
    font-family: home;
    text-align: center;
  }
  .navbar-toggle {
    background-color: #66AFCA;
  }
  .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-nav {
    margin-bottom: 1em;
    text-align: center;
  }
  .navbar-nav li {
    font-size: 2em;
  }
  .about-us h1 {
    background-color: #66AFCA;
    margin: 0;
    text-align: center;
    padding: 2em 0 2em 0;
  }
  .personal-color {
    background-color: #F8F8F8;
  }
  .personal-color2 {
    background-color: #66AFCA;
  }
  .larger-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2em 1em 2em 1em;
  }
  .larger-box img {
    width: 60%;
  }
  .larger-box .personal {
    width: 60%;
  }
  .instagram h1 {
    background-color: #66AFCA;
    margin: 0;
    text-align: center;
    padding: 2em 0 2em 0;
  }
  .instagram #instafeed {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2em 0 2em 0;
  }
  .instagram #instafeed img {
    padding: .2em;
  }
  .services h1 {
    background-color: #66AFCA;
    margin: 0;
    text-align: center;
    padding: 2em 0 2em 0;
  }
  .services .top-row-services {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-top: 2em;
  }
  .services .top-row-services .dog-walking, .services .top-row-services .dog-sitting, .services .top-row-services .cat-sitting {
    margin-bottom: 2em;
    text-align: center;
    width: 51%;
  }
  .services .top-row-services .dog-walking img, .services .top-row-services .dog-sitting img, .services .top-row-services .cat-sitting img {
    margin: auto;
  }
  .services .top-row-services .dog-walking hr, .services .top-row-services .dog-sitting hr, .services .top-row-services .cat-sitting hr {
    height: 1px;
    width: 5em;
    background-color: #000;
  }
  .services .bottom-row-services {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 2em;
  }
  .services .bottom-row-services .pet-taxi, .services .bottom-row-services .catercise, .services .bottom-row-services .pet-portraits {
    margin-bottom: 2em;
    text-align: center;
    width: 51%;
  }
  .services .bottom-row-services .pet-taxi img, .services .bottom-row-services .catercise img, .services .bottom-row-services .pet-portraits img {
    margin: auto;
  }
  .services .bottom-row-services .pet-taxi hr, .services .bottom-row-services .catercise hr, .services .bottom-row-services .pet-portraits hr {
    height: 1px;
    width: 5em;
    background-color: #000;
  }
  footer #map {
    height: 410px;
    width: 100%;
    z-index: -1;
  }
  footer .contact-header {
    margin-top: -400px;
  }
  footer #contact h1, footer .links {
    color: white;
    text-align: center;
  }
  footer hr {
    height: 1px;
    width: 5em;
    background-color: #000;
  }
  footer #contactform {
    margin: auto;
    width: 80%;
  }
  footer #contactform input {
    margin-bottom: 1em;
  }
}

@media (min-width: 410px) {
  .main {
    height: 55vh;
  }
}

@media (min-width: 568px) {
  .main {
    height: 90vh;
  }
  .main h1 {
    margin-bottom: 3em;
  }
  .main h1, .main h2 {
    font-size: 2.5em;
  }
  .larger-box {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 3em 2em 3em 2em;
  }
  .larger-box img {
    width: 30%;
  }
  .larger-box .personal {
    width: 40%;
  }
  .services .top-row-services .dog-walking, .services .top-row-services .dog-sitting, .services .top-row-services .cat-sitting {
    width: 25%;
  }
  .services .bottom-row-services .pet-taxi, .services .bottom-row-services .catercise, .services .bottom-row-services .pet-portraits {
    width: 25%;
  }
  footer #contactform {
    width: 50%;
  }
}

@media (min-width: 667px) {
  .main {
    background-image: url(../img/dog.jpg);
    background-size: cover;
    height: 90vh;
  }
  .main h1 {
    margin-bottom: 3em;
  }
  .main h1, .main h2 {
    font-size: 2em;
  }
  .services .top-row-services {
    margin-top: 4em;
  }
  .services .top-row-services .dog-walking, .services .top-row-services .dog-sitting, .services .top-row-services .cat-sitting {
    width: 27%;
  }
  .services .bottom-row-services {
    margin-bottom: 4em;
  }
  .services .bottom-row-services .pet-taxi, .services .bottom-row-services .catercise, .services .bottom-row-services .pet-portraits {
    width: 27%;
  }
}

@media (min-width: 768px) {
  .main {
    height: 100vh;
  }
  .main h1 {
    margin-bottom: 5em;
  }
  .main h1, .main h2 {
    font-size: 4em;
  }
  .larger-box {
    padding: 5em 3em 5em 3em;
  }
  .services h1, .about-us h1, .instagram h1 {
    font-size: 3em;
    padding: 2em 0 2em 0;
  }
}

@media (min-width: 822px) {
  .main h1, .main h2 {
    font-size: 5em;
  }
  .services h1, .about-us h1, .instagram h1 {
    font-size: 4em;
    padding: 2em 0 2em 0;
  }
  .larger-box {
    padding: 8em 6em 8em 6em;
  }
  .larger-box img {
    width: 40%;
  }
  .larger-box .personal {
    width: 30%;
  }
  footer #map {
    height: 610px;
    width: 100%;
    z-index: -1;
  }
  footer .contact-header {
    margin-top: -600px;
    padding: 4em 0 3em;
  }
}
