@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@mixin flexbox-center {
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: home;
  src: url(../files/edo.ttf);
}

@mixin hr {
  height: 1px;
  width: 5em;
  background-color: #000;
}


@media (min-width: 320px) {
  .navbar {
    margin-bottom: 0;
  }
  .main {
    background-image: url(../img/small-dog.jpg);
    background-position: center;
    height: 60vh;
    width: auto;
    @include flexbox;
    flex-direction: column;
    @include flexbox-center;
    h1 {
      margin-bottom: 1em;
    }
    h1, h2 {
      color: white;
      font-size: 3em;
      font-family: home;
      text-align: center;
    }
  }

  .about-us h1 {
    text-align: center;
    margin: 2em 0 2em 0;
  }

  .about-us-info {
    @include flexbox;
    @include flexbox-center;
    @include flex-wrap;
    .larger-box {
      @include flexbox;
      @include flexbox-center;
      height: 27em;
      background-color: silver;
      width: 80%;
      margin-bottom: 4em;
      z-index: -999999;
      .inner-box {
        background-color: white;
        height:25em;
        padding: 1em 0.5em 1em 0.5em;
        width:90%;
        img {
          margin: auto;
        }
        h3 {
          text-align: center;
        }
        p {
          margin-top: 1em;
          text-align: center;
        }
      }
    }
  }
  .services {
    h1 {
      text-align: center;
    }
    .top-row-services {
      @include flexbox;
      @include flex-wrap;
      justify-content: space-around;
      .dog-walking, .dog-sitting, .cat-sitting {
        text-align: center;
        width: 51%;
        hr {
          @include hr;
        }
      }
    }

    .bottom-row-services {
      @include flexbox;
      @include flex-wrap;
      justify-content: space-around;
      margin-bottom: 2em;
      .pet-taxi, .catercise, .pet-portraits {
        text-align: center;
        width: 51%;
        hr {
          @include hr;
        }
      }
    }
  }


  footer {
    #map {
      height: 410px;
      width: 100%;
      z-index: -1;
    }

    .contact-header {
      margin-top: -400px;
      padding: 4em 0 3
    }

    #contact h1, .links {
    color: white;
    text-align: center;
    }
    hr {
      @include hr;
    }

    #contactform {
      margin: auto;
      width: 80%;
      input {
        margin-bottom: 1em;
      }
    }
  }
}

@media (min-width: 375px) {
  .about-us-info {
    .larger-box {
      height: 25em;
      .inner-box {
        height: 23em;
      }
    }
  }
}

@media (min-width: 410px) {
  .main {
    height: 55vh;
  }

  .about-us-info {
    .larger-box {
      width: 70%;
    }
  }
}

@media (min-width: 568px) {
  .main {
    height: 90vh;
    h1 {
      margin-bottom: 3em;
    }
    h1, h2 {
      font-size: 2em;
    }
  }

  .about-us-info {
    justify-content: space-around;
    .larger-box {
      width: 32%;
      height: 32em;
      .inner-box {
        height: 30em;
      }
    }
  }
  .services {
    .top-row-services {
      .dog-walking, .dog-sitting, .cat-sitting {
        width: 25%;
      }
    }

    .bottom-row-services {
      .pet-taxi, .catercise, .pet-portraits {
        width: 25%;
      }
    }
  }
}

@media (min-width: 667px) {
  .main {
    background-image: url(../img/dog.jpg);
    background-size: cover;
    height: 90vh;
    h1 {
      margin-bottom: 3em;
    }
    h1, h2 {
      font-size: 2em;
    }
  }

  .about-us-info {
    .larger-box {
      width: 30%;
    }
  }
}

@media (min-width: 768px) {
  .main {
    height: 100vh;
    h1 {
      margin-bottom: 5em;
    }
    h1, h2 {
      font-size: 4em;
    }
  }
  .about-us-info {
    .larger-box {
      height: 45vh;
      .inner-box {
        height: 90%;
      }
    }
  }
}

@media (min-width: 822px) {
  .main {
    height: 100vh;
    h1, h2 {
      font-size: 5em;
    }
  }

  #map {
    height: 610px;
    width: 100%;
    z-index: -1;
  }

  .contact-header {
    margin-top: -600px;
    padding: 4em 0 3
  }
}

@media (min-width: 1020px) {
  .about-us-info {
    .larger-box {
      .inner-box {
        p {
          margin-top: 2em;
        }
      }
    }
  }
}

@media (min-width: 1272px) {

}

@media (min-width: 1356px) {

}

@media (min-width: 1420px) {

}
