@font-face {
  font-family: home;
  src: url(../files/edo.ttf);
}

@media (min-width: 320px) {
  .main {
    background-image: url(../img/small-dog.jpg);
    background-position: center;
    height: 60vh;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main h1 {
    margin-bottom: 1em;
  }
  .main h1, .main h2 {
    color: white;
    font-size: 3em;
    font-family: home;
    text-align: center;
  }
  #map {
    height: 610px;
    width: 100%;
    z-index: -1;
  }
  .contact-header {
    margin-top: -600px;
    padding: 4em 0 3;
  }
  .about-us h1 {
    text-align: center;
    margin: 2em 0 2em 0;
  }
  .about-us-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-us-info .larger-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
    background-color: grey;
    width: 75%;
    margin-bottom: 4em;
    z-index: -999999;
  }
  .about-us-info .larger-box .inner-box {
    background-color: white;
    height: 18em;
    width: 68%;
    z-index: 99999;
  }
}

@media (min-width: 822px) {
  .main {
    background-image: url(../img/dog.jpg);
    height: 100vh;
  }
  .main h1 {
    margin-bottom: 5em;
  }
  .main h1, .main h2 {
    font-size: 6em;
  }
  .about-us-info {
    justify-content: space-around;
  }
  .about-us-info .larger-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24em;
    background-color: grey;
    width: 20%;
    margin-bottom: 4em;
    z-index: -999999;
  }
  .about-us-info .larger-box .inner-box {
    background-color: white;
    height: 22em;
    width: 90%;
    z-index: 99999;
  }
  .about-us-info .larger-box .inner-box img {
    margin: auto;
  }
  .about-us-info .larger-box .inner-box p {
    text-align: center;
  }
}
